[Desktop Entry]
Version=1.0
Type=Application

Name=Kandalf
Comment=An AI chat client
Categories=Utility;KDE;

Icon=kandalf
Exec=kandalf
Terminal=false
