# SPDX-FileCopyrightText: 2023 Loren Burkholder <computersemiexpert@outlook.com>
#
# SPDX-License-Identifier: CC0-1.0

[Desktop Entry]
Version=1.0
Type=Application

Name=Alpaka
Name[ca]=Alpaka
Name[ca@valencia]=Alpaka
Name[eo]=Alpaka
Name[fr]=Alpaka
Name[ka]=ალპაკა
Name[nl]=Alpaka
Name[pl]=Alpaka
Name[sk]=Alpaka
Name[sl]=Alpaka
Name[tr]=Alpaka
Name[uk]=Alpaka
Name[x-test]=xxAlpakaxx
Name[zh_TW]=Alpaka
Comment=An AI chat client
Comment[ca]=Un client de xat d'IA
Comment[ca@valencia]=Un client de xat d'IA
Comment[eo]=AI-babilkliento
Comment[fr]=Un client de discussions avec une IA
Comment[ka]=AI-სთან ლაზღანდარაობის კლიენტი
Comment[nl]=Een client voor AI-chat
Comment[pl]=Program do rozmów ze SI
Comment[sk]=AI chatový klient
Comment[sl]=Odjemalec klepeta z umetno inteligenco
Comment[tr]=Yapay Zeka Sohbet İstemcisi
Comment[uk]=Клієнт ШІ-спілкування
Comment[x-test]=xxAn AI chat clientxx
Comment[zh_TW]=一個 AI 聊天機器人用戶端
Categories=Utility;KDE;

Icon=alpaka
Exec=alpaka
Terminal=false
