# SPDX-FileCopyrightText: 2023 Loren Burkholder <computersemiexpert@outlook.com>
#
# SPDX-License-Identifier: CC0-1.0

[Desktop Entry]
Version=1.0
Type=Application

Name=Alpaka
Comment=An AI chat client
Categories=Utility;KDE;

Icon=alpaka
Exec=alpaka
Terminal=false
