# SPDX-FileCopyrightText: 2023 Loren Burkholder <computersemiexpert@outlook.com>
#
# SPDX-License-Identifier: CC0-1.0

[Desktop Entry]
Version=1.0
Type=Application

Name=Alpaka
Name[ar]=ألباكا
Name[ast]=Alpaka
Name[ca]=Alpaka
Name[ca@valencia]=Alpaka
Name[cs]=Alpaka
Name[en_GB]=Alpaka
Name[eo]=Alpaka
Name[es]=Alpaka
Name[eu]=Alpaka
Name[fi]=Alpaka
Name[fr]=Alpaka
Name[gl]=Alpaka
Name[he]=אלפקה
Name[hu]=Alpaka
Name[ia]=Alpaka
Name[is]=Alpaka
Name[it]=Alpaka
Name[ka]=ალპაკა
Name[ko]=Alpaka
Name[lv]=Alpaka
Name[nl]=Alpaka
Name[pl]=Alpaka
Name[ro]=Alpaka
Name[sk]=Alpaka
Name[sl]=Alpaka
Name[sv]=Alpaka
Name[tr]=Alpaka
Name[uk]=Alpaka
Name[x-test]=xxAlpakaxx
Name[zh_TW]=Alpaka
Comment=An AI chat client
Comment[ar]=عميل دردشة للذكاء الاصطناعي
Comment[ca]=Un client de xat d'IA
Comment[ca@valencia]=Un client de xat d'IA
Comment[cs]=Klient pro AI Chat
Comment[en_GB]=An AI chat client
Comment[eo]=AI-babilkliento
Comment[es]=Cliente de charla con IA
Comment[eu]=AA berriketa bezero bat
Comment[fi]=Tekoälykeskusteluasiakas
Comment[fr]=Un client de discussions avec une IA
Comment[gl]=Cliente de charlas con intelixencia artificial (IA).
Comment[he]=לקוח שיח מול בינה מלאכותית
Comment[hu]=AI csevegőkliens
Comment[ia]=Un cliente de chat (Conversation in directo) de AI (IA)
Comment[is]=Spjallforrit fyrir gervigreind
Comment[it]=Un client di chat per AI
Comment[ka]=AI-სთან ლაზღანდარაობის კლიენტი
Comment[ko]=AI 채팅 클라이언트
Comment[lv]=MI tērzēšanas klients
Comment[nl]=Een client voor AI-chat
Comment[pl]=Program do rozmów ze SI
Comment[ro]=Conversații cu Inteligență Artificială
Comment[sk]=AI chatový klient
Comment[sl]=Odjemalec klepeta z umetno inteligenco
Comment[sv]=En AI-chattklient
Comment[tr]=Yapay Zeka Sohbet İstemcisi
Comment[uk]=Клієнт ШІ-спілкування
Comment[x-test]=xxAn AI chat clientxx
Comment[zh_CN]=AI 聊天客户端
Comment[zh_TW]=一個 AI 聊天機器人用戶端
Categories=Utility;KDE;

Exec=alpaka
Terminal=false
